<?xml version='1.0' encoding='utf-8'?>
<widget id="com.xdi.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StarterApp</name>
    <description>
        An XDI app template using Ionic, Cordova and AngularJS.
    </description>
    <author email="info@xdinnovations.com" href="http://www.xdinnovations.com">
        XDInnovations Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
</widget>
