<header ng-controller="AccountCtrl" class="bar bar-header bar-balanced">
    <h1 class="title">Home</h1>
    <button ng-click="logout()" class="button button-royal">
        Logout
    </button>
</header>
<nav-page ng-controller="MapCtrl" title="Home">
    <content has-header="true">
        <google-map center='map.center' draggable='true' zoom='map.zoom'></google-map>
    </content>
    <div class="bar bar-footer bar-balanced">
        <h1 class="title">Footer Content Goes Here</h1>
    </div>
</nav-page>